beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1705564648255/work
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
mechanize @ file:///home/conda/feedstock_root/build_artifacts/mechanize_1699358237033/work
setuptools==69.2.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1693929250441/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1694681268211/work
wheel==0.42.0
